body {
}

.error {
    color: red;
    font-weight: bold;
}
div.clear_float {
    clear: both;
}

input.point {
    width: 4em;
}
input.score {
    width: 5.5em;
}
input.pot {
    width: 3em;
}

/* タブ汎用 */
div.tab_group {
    flex-wrap: wrap;
    display: flex;
}
div.tab_group .tab {
    width: 6em;
    background-color: darkgrey;
    line-height: 1.5em;
    text-align: center;
    display: block;
    float: left;
    order: -1;
}
div.tab_group input[name$="tab_name"] {
    display: none;
}
div.tab_group input:checked + .tab {
    background-color: darkcyan;
    color: white;
}
div.tab_group .panel {
    border: 2px solid darkcyan;
    display: none;
    width: 100%;
    margin: 0px;
    padding: 1em;
}
div.tab_group input:checked + .tab + .panel {
    display: block;
}

/* トグルボタン汎用 */
div.toggleswitch {
    position: relative;
    background: white;
}
div.toggleswitch input[type="checkbox"] {
    display: none;
}
div.toggleswitch label {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 2.5em;
    height: 80%;
    top: 10%;
    border: 1px solid silver;
    border-radius: 1em;
}
div.toggleswitch input[type="checkbox"]:checked + label {
    background-color: cornflowerblue;
}
div.toggleswitch .swbutton {
    position: absolute;
    width: 0.75em;
    height: 0.75em;
    background: darkgray;
    left: 5%;
    top: 15%;
    border-radius: 1em;
    transition: .2s;
}
div.toggleswitch input[type="checkbox"]:checked + label .swbutton {
    transform: translateX(175%); /* XXX: 右寄せを使うべきか */
    background-color: white;
}

/*設定用タブ*/
#config_group .tab {
}
#config_group td input {
    margin-right: 1em;
}

#conf_player .init_seat {
    text-align: center;
}

/*メインパネル*/
#current_status {
    margin: 2em;
    border: 4px solid green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    float: left;
}

#current_status div.player{
    border: 1px solid black;
    margin: 2px;
    padding: 0.5em;
}
#current_status div.opposite {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
#current_status div.left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
#current_status div.right {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
#current_status div.me {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
#current_status div.pot {
    border: none;
    padding: 0.5em;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

div.pot {
    margin: auto;
}
div.pot p {
    font-size: smaller;
    vertical-align: middle;
}
div.pot span {
    display: inline-block;
}
div.pot .label {
}
div.pot .unit {
    font-size: smaller;
}

#current_status .name{
    font-weight: bold;
}
#current_status .isleader{
    margin: 5%;
    font-weight: bold;
    color: darkred;
}

/*計算結果*/
#area_basic_result {
    min-width: 14em;
    float: left;
}
#basic_result {
    border: 1px solid grey;
    background-color: snow;
    padding: 0.5em;
    margin: 1em;
    font-family: monospace;
}
#basic_result .score {
    color: darkgrey;
    text-align: right;
}
#basic_result .point {
    text-align: right;
}
#basic_result .rank0 {
    font-weight: bold;
    color: dodgerblue;
}
#basic_result th {
    font-weight: normal;
    font-size: smaller;
    text-align: center;
    padding: 0.4em;
}
#basic_result .scorediff {
    font-size: smaller;
    text-align: right;
    color: navy;
}

table.score_table {
    border-style: solid;
}
table.score_table th {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: right;
    width: calc(100% / 5);
    background: ivory;
    border: 1px solid;
    text-align: center;
}
table.score_table th.han {
    text-align: right;
}
table.score_table td {
    border: 1px dotted;
}
table.score_table .score {
    text-align: center;
}
table.score_table .score.fixed {
    text-align: center;
}

/*計算駆動用タブ*/
#calc_basic_group .tab {
    width: 6em;
}
