body {
}

.error {
    color: red;
    font-weight: bold;
}

#conf_bonus {
    margin: 1em;
    padding: 1em;
    border: 2px solid black;
}

#current_status {
    margin: 2em;
    border: 4px solid green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#current_status div.player{
    border: 1px solid black;
    margin: 2px;
    padding: 0.5em;
}
#current_status div.opposite {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
#current_status div.left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
#current_status div.right {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
#current_status div.me {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
#current_status div.pot {
    border: none;
    padding: 0.5em;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
div.pot table {
    margin: auto;
}

div.pot table .label{
    font-weight: normal;
    text-align: right;
    padding-right: 1em;
}

#current_status .name{
    font-weight: bold;
}
#current_status .isleader{
    margin: 5%;
    font-weight: bold;
    color: darkred;
}

#calc_and_result .panel {
    border: 1px solid grey;
    padding: 0.5em;
    margin: 1em;
}

.result .score {
    color: darkgrey;
}


input.point {
    width: 4em;
}
input.score {
    width: 6em;
}
input.pot {
    width: 2em;
}